<div class="col-lg-4 col-md-4">
  <%= simple_form_for :session, url: login_create_path, html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :email, autofocus: true %>
    <%= f.input :password %>
    <%= f.button :submit, "Submit" %>
  <% end %>
</div>
