<div class="col-sm-4 col-lg-4 col-md-4">
  <div class="thumbnail">


    <div class="sock-index-image-box">
      <img  class="sock-index-image" src="<%= sock.sock_images.first.picture(:medium) %>" alt="">
    </div>
    <div class="caption">
      <h4 class="pull-right"><%= '$' + sock.price.to_s %></h4>
      <h4><%= link_to sock.name, sock_path(sock) %>
      </h4>
      <p><%= sock.description %></p>
    </div>
  </div>
</div>
