<div class="col-md-3">
    <h2 class="">Sockegories</h2>
    <div class="list-group">
      <ul class="">
        <h3>Colors</h3>
        <% @colors.each do |color| %>
          <li style="list-style-type: none;"><%= link_to color, search_path(query: color) %></li>
        <% end %>
        <h3>Styles</h3>
        <% @styles.each do |style| %>
          <li style="list-style-type: none;"><%= link_to style, search_path(query: style) %></li>
        <% end %>
      </ul>
    </div>
</div>

<div class="col-md-9">
  <header class="text-center" id="sock-header">
    <%= render 'socks/header' %>
  </header>
    <div class="row">
      <%= render @socks %>
    </div>
</div>
