<div class="col-md-3">
    <p class="lead">Categories</p>
    <div class="list-group">
      <a href="#" class="list-group-item">Category 1</a>
      <a href="#" class="list-group-item">Category 2</a>
      <a href="#" class="list-group-item">Category 3</a>
    </div>
</div>

<div class="col-md-9">
  <header class="text-center" id="sock-header">
    <h1 id="header-title">Popular Items<h1>  <%# ERB THIS LATER %>
  </header>
    <div class="row">
      <%= render 'sock' %>
    </div>

</div>
