<div class="row">
  <div class="col-md-6 col-offset-6">
    <div class="list-group">
      <div class="list-group-item">
        <h5 class="list-group-item-heading">Name:</h5>
        <p class= "list-group-item-text"><%= address.name %></p>
      </div>
      <div class="list-group-item">
        <h5 class="list-group-item-heading">Street:</h5>
        <p class= "list-group-item-text"><%= address.street %></p>
      </div>
      <div class="list-group-item">
        <h5 class="list-group-item-heading">City:</h5>
        <p class= "list-group-item-text"><%= address.city %></p>
      </div>
      <div class="list-group-item">
        <h5 class="list-group-item-heading">Zip:</h5>
        <p class= "list-group-item-text"><%= address.zip %></p>
      </div>
    </div>
  </div>
</div>
