/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#navbar-main {
  background-color: #001a33;
}

#navbar-links li {

  a {
   color: #f2f2f2;
  }

  a:hover {
    color: rgb(0,132,254);
  }

}

 #sockorama-logo img {
   max-height: 4em;
}

 #search-bar {
    margin: .75em 0;
}



#footer-container {
  margin: 3em 0em 0em 0em;
  background-color: #001a33;
}

#footer-body {
  margin: auto;
  color: #f2f2f2;
  font-size: 12px;
}

#footer-content {
  overflow: hidden;

 #copyright {
   display: inline-block;
   -webkit-margin-before: 1.25em;
   -webkit-margin-after: 1.25em;
 }
}
