// Place all the styles related to the socks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.dropdowns {
  padding: 0 10px;
  margin-bottom: 15px;
}

#navbar-main {
  background-color: #001a33;
}

#navbar-links li {

  a {
   color: #f2f2f2;
  }

  a:hover {
    color: rgb(0,132,254);
  }

}

 #sockorama-logo img {
   max-height: 4em;
}

 #search-bar {
    margin: .75em 0;
}



#footer-container {
  margin: 3em 0em 0em 0em;
  background-color: #001a33;
}

#footer-body {
  margin: auto;
  color: #f2f2f2;
  font-size: 12px;
}

#footer-content {
  overflow: hidden;

 #copyright {
   display: inline-block;
   -webkit-margin-before: 1.25em;
   -webkit-margin-after: 1.25em;
 }
}
