<div id="footer-container">
  <div class="container" >
    <footer id="footer-body">
      <div class="row">
        <div class="col-lg-12" id="footer-content">
          <p id="copyright">Copyright &copy; Sock-o-Rama 2016</p>
          <ul class="nav navbar-nav pull-right" id="navbar-links">
            <li><%=link_to "Contact", root_path %></li>
            <li><%=link_to "Support", root_path %></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
